
# DotEnv
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Coverage & quality directories
coverage
quality
lint
config

# Dependency directories
node_modules

# Third party lib/lang & docs
docs
api-docs
code-docs

# DB related setup
dba

# Command line operations
cmd

# Mock API
src/mocks
src/routes/mocks/**
